.employee__form > h1 {
    text-align: center;
  }
  
  .employee__form > input {
    display: flex;
    margin: 10px auto;
    width:350px;
    border-radius: 8px;
    padding:3px 2px;
  } 
  
  .employee__form > button {
    display: block;
    margin: 10px auto;
    width:360px;
    border-radius: 8px;
    padding:3px 2px;
  }

  #showDatabtn {
    border-radius: 8px;
    margin: 2px 5px;
  }